.a{
text-align: center;
}
img{
  margin-left: auto;
  margin-right: auto;
}

.btn .left {
  border-color:  #2b344b !important ;

  box-shadow: 3px 3px 12px #a8ccac !important;
  -webkit-box-shadow: 3px 3px 12px #a8ccac !important;
  -moz-box-shadow: 3px 3px 12px #a8ccac !important;
}
