.a {
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;

}

.articles{
    display: flex;
    flex-direction: row;
}

.texte-centrer{
    text-align: center;
}

.col-1{
    width: 25%;
}

.col-2{
    width: 50%;
    padding: 5%;
    padding-top: 1%;

}


