
header {
	align-items: left;
	width: 100%;
	position: left;
	max-height: 100vh;
	min-height: 50px;
	height: auto;
	font-family: MonsteratSB, serif;
	font-weight: 600;
	z-index: 1000;
}

#menu li {
	display: inline-block;
	background-color: #C3EDC9;
}

#menu a {
	padding: 10px 20px;
	color: #0e1f2b;
}

#menu li:hover {
	background-color: #b3bec3;
}

nav{
	background-color: #C3EDC9;
	display: block;
  padding: 10px 10px;

}

article{
	padding: 50px, 50px, 50px,50px !important;
}
