
header {
	align-items: left;
	width: 100%;
	position: left;
	max-height: 100vh;
	min-height: 50px;
	height: auto;
	font-family: MonsteratSB, serif;
	font-weight: 600;
	z-index: 1000;
}

#menu li {
	display: inline-block;
	background-color: #a8ccac;
}

#menu a {
	padding: 10px 20px;
	color: #0e1f2b;
}

#menu li:hover {
	background-color: #b3bec3;
}

nav{
	background-color: #a8ccac;
	display: block;
  padding: 10px 10px;

}

article{
	padding: 50px, 50px, 50px,50px !important;
}
.btn {
text-decoration: none;
padding: 10px;
font-family: arial;
font-size: 1em;
color: #000000;
background-color: #a8ccac;
border-radius: 32px;
-webkit-border-radius: 32px;
-moz-border-radius: 32px;
border: 4px solid #000000;
box-shadow: 3px 3px 12px #a8ccac;
-webkit-box-shadow: 3px 3px 12px #a8ccac;
-moz-box-shadow: 3px 3px 12px #a8ccac;
}


.btn:hover {

-webkit-box-shadow: 3px 3px 12px #777777;

}
